-
  const lang={
    hello: 'Привет, меня зовут',
    scroll: 'Скролл',
    title: 'Проект на vue',
    city:'Проживаю',
    age:'Возраст',
    birth:"Родился",
    skills_title:"Чем я могу быть полезен вам",
    talks_title:"Что обо мне говорят",
    frontend:"Front-end",
    workflow:"Workflow",
    works_title:"Мои работы",
    quote:"Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете",
    quote_author:"Martin Golding",
    work_link:"Посмотреть сайт",
    copy:"© 2020"
  };

- 
  const menu = {
      about: 'Обо мне',
      skills: 'Навыки',
      works: 'Работы',
      talks: 'Отзывы'
  };

- 
  const soc = {
      insta: 'href',
      github: 'href',
      vk: 'href',
      envelope: 'mailto:admin@mail.ru'
  };

- 
  const user={
    name:'Владимир Астаханов',
    description_site: "Личный сайт веб-разработчика",
    about:"Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.",
    about_site:"Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!",
    city:"Новосибирск",
    age:25,
    birth:"1 января 1991",
    skills_description:"Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!",
    skills_frontend:[
      {
        name:'HTML5',
        percent:80
      },{
        name:'CSS3',
        percent:55
      },{
        name:'Javascript',
        percent:40
      },{
        name:'Jquery и Vue.js',
        percent:25
      }
    ],
    skills_workflow:[
      {
        name:'GIT',
        percent:80
      },
      {
        name:'Terminal',
        percent:76
      },
      {
        name:'Gulp',
        percent:30
      },
     {
        name:'Webpack',
        percent:50
      }
    ],
    footer_description:"Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool"
  }
- 
  const review=[
    {
      name:'Ковальчук Дмитрий',
      work:'Основатель Loftschool',
      photo:'1.png',
      text:'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!'
    },
    {
      name:'Владимир Сабанцев',
      work:'Преподаватель',
      photo:'2.png',
      text:'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах'
    }
  ]
- 
  const works={
    name:"Сайт школы образования",
    description:"Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!",
    images:["work1.jpg",'work2.jpg','work3.jpg','work4.jpg']
  }

  const tags=['Html','Css','Javascript']

include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{lang['title']}
  body
    .wrapper
      .main
        .container.main__container
          .header
            .logo
              a(class='logo__href',href='#')
                +icon('logo', 'logo__svg')
            .menu.menu--header
              ul.menu__list 
                each value, key in menu 
                  li.menu__item
                    a(href='#'+key class="menu__link") #{value}
            .soc.soc--header
                each value, key in soc
                  .soc__item
                    a(href='#'+key class="soc__link")
                     +icon(key, 'soc__svg')
            .hamburger
              +icon('hamburger', 'hamburger__icon')
              +icon('hamburger', 'hamburger__icon')
              +icon('hamburger', 'hamburger__icon')
          .main__content
            .main__description #{user['description_site']}
            h1.main__name #{user['name']}
          .scroll
            .scroll__text 
              a(href='#'+key class="scroll__link") #{lang['scroll']}
              +icon('down', 'scroll__svg')
      .about
        .container.about__container
          .about__item
            .about__image 
              +image('content/user.jpg', 'about__img')
            .data
              .data__line
                .data__name #{lang['city']}
                .data__value #{user['city']}
              .data__line
                .data__name #{lang['age']}
                .data__value #{user['age']}
              .data__line
                .data__name #{lang['birth']}
                .data__value #{user['birth']}
          .about__item
            .about__text #{lang['hello']}
            h2.about__name #{user['name']}
            .about__text #{user['about']}
            .about__info
              .about__svg 
                +icon('star', 'about__star')
              .about__text #{user['about_site']}
      .skills
        .container.skills__container
          h2.skills__title #{lang['skills_title']}
          .skills__description #{user['skills_description']}
          .skills__group
            h3.skills__group-title #{lang['frontend']}
            .skills__list
                each value, key in user['skills_frontend'] 
                  .skill(data-line=8,data-size="132",data-percent=value['percent'],data-text=value['name'])
          .skills__group
            h3.skills__group-title #{lang['workflow']}
            .skills__list
              each value, key in user['skills_workflow'] 
                .skill(data-line=8,data-size="132",data-percent=value['percent'],data-text=value['name'])
      .works
        .container.works__container
          h2.works__title #{lang['works_title']}
          .works__content
            .slider
              .slider__slide-full 
                +image('content/'+works['images'][0], 'works__img-full')
              .slider__slide-items
                each value in works['images']
                  .slider__slide-item
                    .slider__slide-image
                      +image('content/'+value, 'works__slide-img')
              .arrows.arrows--work
                .arrows__item.arrows__item--work.arrows__item--left
                  +icon('arrow-down', 'arrow__svg')
                .arrows__item.arrows__item--work.arrows__item--right
                  +icon('arrow-down', 'arrow__svg')
              .slider__slide--number 2       
            .works__description
              .tags
                each value in tags
                  .tag #{value}
              h3.works__name #{works['name']}
              .works__text #{works['description']}
              a(href="#",class="works__link") 
                +icon('link', 'works__svg') 
                span #{lang['work_link']}

      .talks
        .container.talks__container
          .talks__header
            h2.talks__title #{lang['talks_title']}
            .arrows
              .arrows__item.arrows__item--left
                +icon('arrow-down', 'arrow__svg')
              .arrows__item.arrows__item--right
                +icon('arrow-down', 'arrow__svg')
          .reviews 
            each value in review
              .review
                .review__text #{value['text']}
                  .review__quote
                    +icon('quote', 'talks__svg')
                .review__person
                  +image('content/'+value['photo'], 'talks__img')
                  .review__info
                    .review__name #{value['name']}
                    .review__work #{value['work']}

      .footer 
        .container.footer__container
          .footer__column 
            .footer__copy #{lang['copy']}
          .footer__column 
            .footer__author #{user['name']}
            .footer__about #{user['description_site']}
          .footer__column 
            .menu
              ul.menu__list 
                each value, key in menu 
                  li.menu__item
                    a(href='#'+key class="menu__link") #{value}
            .footer__description #{user['footer_description']}
            .soc
              each value, key in soc
                .soc__item.soc__item--footer
                  a(href='#'+key class="soc__link")
                    +icon(key, 'soc__svg')
          .footer__column
            .footer__quote #{lang['quote']}
            .footer__quote-author #{lang['quote_author']}
